
<h2>People</h2>

<ol>
{{#each model as |person|}}
  <li>Person: {{person.firstName}} {{person.lastName}}
  <br>
  Children:
  <ul>
    {{#each person.children key='id' as |child|}}
      <li>{{child.firstName}}<br>
        Children's children:
        <ul>
          {{#each child.children key='id' as |grandchild|}}
            <li>{{grandchild.firstName}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
    </ul>
  </li>
{{/each}}
</ol>

{{outlet}}
